[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
